# Ignore git
.git
.gitignore

# Ignore bundler config.
.bundle

build

secrets/*

# Ignore devops files
Jenkinsfile
Dockerfile
docker-compose*


# Ignore markdown/readme files
*.md

# Ignore all log files
*.log

# Ignore all logfiles and tempfiles.
log/*
tmp/*

# Ignore uploaded files in development
storage/*

nginx

node_modules

# Assets are rebuilt each deploy
public/assets

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore Sublime Text project files
*.sublime*

# Add back any .keep files
!.keep
