services:
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  db:
    image: postgres:12.2
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root

  web:
    build:
      context: .
      target: development
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./:/opt/app:delegated

version: "3.7"
