---

services:
  app:
    build: .
    environment:
      - RAILS_ENV=production
      - RAILS_SERVE_STATIC_FILES=true
      - RAILS_FORCE_SSL=false
      - SECRET_KEY_BASE=1
    depends_on:
      - db
      - selenium
      - selenium-chrome
    init: true
    networks:
      default:
        aliases:
          - app.test
    volumes:
      - ./:/opt/app
    ports:
      - 3000:3000
    restart: always

  db:
    environment:
      - POSTGRES_DB=lostandfound
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=root
    image: postgres:16
    networks:
      default:
        aliases:
          - db.test
    restart: always
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./:/build:rw
      - ./db/dumps:/docker-entrypoint-initdb.d:ro

  selenium:
    image: selenium/hub:latest
    networks:
      default:
        aliases:
          - selenium.test
    ports:
      - 4442:4442
      - 4443:4443
      - 4444:4444
    volumes:
      - ./:/build:rw

  selenium-chrome:
    depends_on:
      - selenium
    environment:
      - SE_EVENT_BUS_HOST=selenium
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    image: selenium/node-chromium
    ports:
      # @note Use `open vnc://localhost:55900` to view the chrome session.
      #       Doesn't work if you pass the "headless" option via Capybara.
      #       Password = "secret"
      - 55900:5900
    volumes:
      - /dev/shm:/dev/shm:rw
      - ./:/build:rw

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  postgres_data: {}
