services:
  adminer:
    image: adminer
    depends_on:
      - db
    ports:
      - 8080:8080

  db:
    image: mariadb:10.4.12-bionic
    environment:
      MYSQL_DATABASE: lostandfound-dev
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306

  web:
    build:
      context: .
      target: development
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./:/opt/app:delegated

version: "3.7"
