<% provide :title, 'Item Type Details' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>item type name:</strong>
  <%= @item_type %>
</p>

<%= link_to 'Edit', edit_item_type_path(@item_type) %> |
<%= link_to 'Back', item_type_path %>
