// ////////////////////////////////////////////////////////////
// Layout
// //////////////////////////////
// Text

$em: 1em; // SCSS math works better on variables than literals

$font-size-xsmall: 3 * $em / 4;
$font-size-small: 11 * $em / 12;
$font-size-large: 7 * $em / 6;
$font-size-xlarge: 2 * $em;

$line-height: 4 * $em / 3;

// //////////////////////////////
// Box layout

$margin-xsmall: $em / 6;
$margin-small: $em / 3;
$margin: $em / 2;
$margin-large: 2 * $margin-small;
$margin-xlarge: $em;

$padding-header-footer: $em;
$sitename-baseline-adjust: 5 * $em / 6;

// //////////////////////////////
// Mobile/desktop layout

// TODO: Something more sophisticated that works properly w/iPhone X
$media-breakpoint-width: 800px;

// ////////////////////////////////////////////////////////////
// Colors

// //////////////////////////////
// UC brand colors

$color-pacific: #46535e;
$color-web-grey: #888888;
$color-bay-fog: #ddd5c7;
$color-california-gold: #fdb515;

// //////////////////////////////
// As used

$color-site-name: $color-pacific;
$color-header-divider: $color-web-grey;

$color-reversed-background: $color-pacific;
$color-row-divider: $color-bay-fog;
$color-anchor-highlight: $color-california-gold;

// ////////////////////////////////////////////////////////////
// Fonts

$font-family-sans: 'freight-sans-pro', Helvetica, sans-serif;
$font-family-mono: Hasklig, Menlo, Consolas, Cousine, Courier, 'Courier New', monospace;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
