img {
  max-width: 100%;
  height: auto !important;
}
body {
  margin: 0;
}
#header {
  border-bottom: 1px solid #b3b0b0;
}
@media only screen and (min-width: 650px) {
  #header {
    border: none;
  }
}
#logo {
  max-width: 312px;
  margin-bottom: 1em;
}
#branding {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 1em;
}
@media only screen and (min-width: 650px) {
  #branding {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  #branding .subhead {
    margin: -9px 0 0 10px;
  }
}
#main-content {
  padding: 1em;
  max-width: 1000px;
  margin: 0 auto;
}
.alphabet-columns {
  margin-top: 2em;
}
.alphabet-columns > div {
  display: inline-block;
  width: 100%;
}
.alphabet-columns ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.alphabet-columns ul li {
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 650px) {
  .alphabet-columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    column-count: 2;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
  }
}
@media only screen and (min-width: 900px) {
  .alphabet-columns {
    -webkit-columns: 3;
    -moz-columns: 3;
    column-count: 3;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
body {
  font-family: freight-sans-pro, Helvetica, sans-serif;
  font-size: 14pt;
}
.subhead {
  text-align: center;
  text-transform: uppercase;
  font-size: 18.2pt;
  letter-spacing: 0.3em;
  color: #46535e;
}
.letter-header {
  font-weight: 700;
  font-size: 18.2pt;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: #000;
  box-shadow: inset 0 -2px 0 #fdb515;
  -webkit-transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}
#footer a,
#footer a:link,
#footer a:visited {
  color: #fff;
  box-shadow: none;
  border-bottom: 1px dotted #fff;
}
a:active,
a:hover {
  background: #fdb515;
}
#footer a:active,
#footer a:hover {
  border-bottom: none;
  color: #000;
}
.navigation {
  text-align: center;
}
.navigation button {
  border: none;
  font-size: 32.2pt;
  cursor: pointer;
}
.navigation button:hover {
  color: #fdb515;
}
@media only screen and (min-width: 650px) {
  .navigation button {
    display: none;
  }
}
.navigation a {
  box-shadow: none;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1em;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.navigation ul li {
  margin-bottom: 0.5em;
}
.navigation ul.visible {
  position: relative;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 650px) {
  .navigation ul {
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
  .navigation ul li {
    margin-left: 1em;
  }
  .navigation ul.main-menu {
    border-bottom: 1px solid #b3b0b0;
  }
  .navigation ul.sub-menu {
    margin-top: 0.7em;
    font-size: 12.6pt;
    -webkit-box-align: center;
    align-items: center;
  }
  .navigation ul.sub-menu li {
    margin: 0 0.5em;
  }
  .navigation ul.sub-menu li a {
    font-weight: 700;
  }
}
@media only screen and (min-width: 900px) {
  .navigation ul .sub-menu li {
    margin: 0 0 0 0.8em;
  }
}
.navigation#main-navigation {
  font-size: 28pt;
  padding: 0.3em 0.5em;
}
@media only screen and (min-width: 650px) {
  .navigation#main-navigation {
    font-size: 16.8pt;
  }
}
#jump-menu {
  font-size: 21pt;
}
#jump-menu a {
  margin: 0.3em 0.4em;
  padding: 0.1em 0.3em;
}
@media only screen and (min-width: 650px) {
  #jump-menu {
    margin-top: 30px;
  }
  #jump-menu:before {
    content: "";
    height: 20px;
    width: 200px;
    border-top: 1px solid #b3b0b0;
    display: block;
  }
}
