<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if user_level_admin? %> 
    <h1>Lost & Found - Administration</h1>
    <div class="nav-link"><a href="/admin_users">Add/Edit Users</a> </div>
     <div class="nav-link"><a href="/admin_locations">Locations</a> </div>
     <div class="nav-link"><a href="/admin_item_types">Item Types</a> </div>
    <div class="nav-link"> <a href="/admin_items">View all items</a> </div>
    <div class="nav-link"> <a href="/admin_migration_items">Data Migration: Items</a> </div>
    <div class="nav-link"> <a href="/admin_migration_locations">Data Migration: Locations</a> </div>
    <div class="nav-link"> <a href="/admin_migration_item_types">Data Migration: item types</a> </div>
<% end %>
