<% if user_level_admin? %>
<h2><a href="/admin_users">Users Page</a></h2>
<h2><a href="/admin_locations">Locations Page</a></h2>
<h2><a href="/admin_item_types">Item Types Page</a></h2>
<h2><a href="/admin_items">Items</a></h2>
<% end %>






