<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_level_admin? %>
    <div><a href="/admin_users">Users Page</a> </div>
     <div><a href="/admin_locations">Locations Page</a> </div>
     <div><a href="/admin_item_types">Item Types Page</a> </div>
    <div> <a href="/admin_items">Items</a> </div>
    <div> <a href="/admin_roles">roles</a> </div>
<% end %>






