<!DOCTYPE html>
<html>
<head>
  <title>Lost and Found</title>
</head>
<body>
  <div class="intro">
    <h1>Lost and Found</h1>
    <p>Please login</p> 
  </div>
    <form method="post" action="/auth/calnet" class="button_to" >
      <div>
        <input data-remote="true" type="submit" value="login">
      </div>
    </form>
</body>
</html>