<%
  flash_messages = flash.each_with_object({}) do |(lvl, msgs), h|
    next unless msgs
    next if (messages = Array(msgs)).empty?

    h[lvl] = messages
  end
%>
<% flash_messages.each do |lvl, messages| %>
  <% messages.each do |msg| %>
    <div class="<%= flash_class(lvl) %>" role="alert"><%= msg %></div>
  <% end %>
<% end %>
