<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= logo_link %>
  <div id="navbar-dropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav">
      <% if user_level_staff?(true) %>
      <li>
        <p class="nav-link" ><a href="/insert_form">Insert Form</a></p>
      </li>
      <% end %>
      <% if user_level_read_only?(true) %> 
      <li>
        <p class="nav-link"><%= link_to "Search Form", search_form_path %></p>
      </li>
      <% end %> 
      <% if user_level_admin?(true) %> 
      <li>
          <p class="nav-link"><%= link_to "Administration", admin_path %></p>
      </li>
      <% end %>
      <li>
         <p class="nav-link"><a href="/logout">logout</a></p>
     </li>
    </ul>
  </div>
</nav>
