<nav class="navigation" id="main-navigation">
    <button id="menu-bars">
         <span class="screen-reader-text">Show/hide menu</span>
         <i class="fas fa-bars"></i>
    </button>
    <ul class="main-menu">
      <% if  user_level_read_only? %>
      <li>
        <% if  user_level_staff? %>
        <p class="nav_link" ><a href="/insert_form">Insert Form</a></p>
        <% end %>
      </li>
      <li>
        <p class="nav_link"><a href="/search_form">Search Form</a></p>
      </li>
      <li>
        <% if  user_level_admin? %>
          <p class="nav_link"><%= link_to "Administration", admin_path %></p>
        <% end %>
      </li>
      <% end %>
      <li>
         <p class="nav_link"><a href="/logout">logout</a></p>
     </li>
    </ul>
</nav>