
      <div id="footer">
        <script>
          var d = new Date();
          var year = d.getFullYear();
          document.write("Copyright &copy; " + year);
        </script>
        The Regents of the University of California. <em>All rights reserved.</em>
        Server manager: <a href="http://www.lib.berkeley.edu/Comments/">contact</a>
        </div>
      </div>