
<div class="staff_nav">
      Staff home</a> | <a href="http://www.lib.berkeley.edu/" style="text-decoration: none">
      Library home</a> | <a href="http://www.berkeley.edu/" style="text-decoration: none">
      Campus</a> | <a href="http://www.lib.berkeley.edu/Staff/search.html" style="text-decoration: none">Search Staff Web</a>
</div>